.Home {
  display: flex;
  flex-direction: column;
  margin-top: 20px;

  @media screen and (min-width: 1024px) {
    margin-top: 40px;
  }

  .versus {
    display: none;

    @media screen and (min-width: 1024px) {
      display: block;
    }
  }

  .versus-mobile {
    margin-bottom: 20px;

    @media screen and (min-width: 1024px) {
      display: none;
    }
  }

  .CardContainer {
    margin-top: 40px;
    display: flex;
    flex-direction: column;

    @media screen and (min-width: 1024px) {
      flex-direction: row;
      justify-content: space-between;
    }

    .CardWrapper {
      width: 100%;
      margin-bottom: 20px;

      @media screen and (min-width: 1024px) {
        width: 46%;
        margin-bottom: 0;
      }
    }
  }
}
