.App {
  text-align: center;
  min-height: 100vh;
}

.Main {
  padding: 0 20px;
  @media only screen and (min-width: 768px) {
    padding: 0 40px;
  }

  @media only screen and (min-width: 1024px) {
    width: 1062px;
    margin: 0 auto;
  }
}
